

.navbar {
  background-color: #f2f2f2;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-list li {
  margin-right: 10px;
}

.navbar-list li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px;
}

.navbar-list li a:hover {
  color: #6c63ff;
}