.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .add-button{
    margin: 5em;
  }
  .product-item {
    width: calc(25% - 40px);
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .product-details {
    margin-bottom: 20px;
  }
  
  .product-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .product-discount {
    color: #777;
    margin-bottom: 10px;
  }
  
  .details-button,
  .add-button {
    padding: 10px 20px;
    background-color: #ddcbcb;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .details-button {
    margin-right: 10px;
  }
  